{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="login-box">
    <h2>Login</h2>
    <form method="post" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }}    
        <div class="form-group">
        {{ form.username.label }} <br>
        {{ form.username(size=20) }} <br>
        {% for error in form.username.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </div>

        <div class="form-group">
            {{ form.password.label }} <br>
            {{ form.password(size=20) }} <br>
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class='btn') }}



    </form>
    </div>
{% endblock %}